%% coding: utf-8
[
    {game_server,[
        {server_type, game},
        {server_id, 1},
        {server_name, "wsc"},
        {cluster_node, "test_trvl_1@192.168.20.92"},
        {tcp_host, "43.139.215.11"},
        {tcp_port, 55555},
        {cookie, weisenchang},
        {server_hour, 8},
        {server_minute, 0}
    ]}
].